<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <%= image_tag('ic_icon_logo_nav.png', :style => "width: auto; height: 40px; margin-top: -10px") %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#process">Process</a>
        </li>
        <li>
          <a class="page-scroll" href="#protfolio">Student Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <!-- TODO:신청하기 버튼 넣기 -->
          <a class="page-scroll" href="#apply">신청하기</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="intro-wrap-container">
      <div class="container">
        <%= image_tag('ic_icon_logo.png', :style => "width:auto; height:76px; margin-bottom: 20px; margin-top: 8px") %>
        <p class="custom-text"> <span>20대</span>를 위한 <span>20대</span>의 감각 </p>
        <a href="#apply" class="btn btn-round-rectangle page-scroll"><p>TAP 신청하기</p></a>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="row">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="custom-text">ABOUT <span>TAB</span></p>
        <p>탭은 디자인과 개발을 배우는 학생과 꿈을 펼쳐가는 스타트업이 만날 수 있도록 돕는 아웃소싱 커뮤니티입니다.</p>
      </div>
    </div>
  </div>
</section>

<section id="process" class="content-section text-center">
  <div class="row">
    <div class="container">
      <p class="custom-text"><span>TAB</span> PROCESS</p>
      <%= image_tag('ic_content_process.png', :style => "width:100%; height:auto;") %>
    </div>
  </div>
</section>

<section id="protfolio" class="content-section text-center">
  <div class="row">
    <div class="container">
      <p class="custom-text"><span>STUDENT</span> PORTFOLIO</p>
    </div>
  </div>
</section>

<section id="apply" class="apply-section">
  <!-- TAB Apply -->
  <div class="row">
    <div class="apply-student col-lg-3 col-xs-3">

    </div>
    <div class="apply-content col-lg-6 col-xs-6" style="text-align: center">
      <p class="custom-text"><span>TAB</span> APPLY</p>
    </div>
    <div class="apply-startup col-lg-3 col-xs-3">

    </div>
  </div>
</section>

<section id="contact">

</section>